header.masthead {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(header.jpeg);
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}



.img-fluid {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.btn-outline-danger {
    color: #f4623a;
    border-color:#f4623a;
}

.btn {
    font-size: 14px;
}