body
{
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(header.jpeg) no-repeat;
}




#container{
	
	width:600px;
	margin: 0 auto;
	margin-top:10%;
	background: rgba(255, 255, 255, 0.95);
}

form{
	
	width: 100%;
	padding:30px;
	border: 1px solid #f1f1f1;
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba (0,0,0,0.24);
}
